# tibble in R

In [4]:
library('tidyverse')

`-` 데이터프레임을 티블로 변형하기

In [7]:
as_tibble(iris) %>% head

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [8]:
tibble(
    x = 1:5,
    y = 1,
    z = x^2 + y
    )

  x y z
1 1 1  2
2 2 1  5
3 3 1 10
4 4 1 17
5 5 1 26

> tibble과 데이터프레임의 차이점<br>
> 1) 입력 유형을 절대로 변경하지 않는다 ex) 문자열 > factor<br>
> 2) 변수의 이름을 바꾸거나 행 이름을 생성하지 않는다<br>
> 3) 티블은 R변수명으로 유효하지 않은 이름도 열 이름으로 가질 수 있다 ex) 공백<br>다만, 이런 변수들을 참조하려면 역따옴표(`)로 감싸야한다고 하는데 안써도 되는데?

In [31]:
tb <- tibble(
    `apple` = "근본",
    ' ' = "스페이스",
    '1000' = "숫자")

In [32]:
tb

  apple          1000
1 근본  스페이스 숫자

## tribble

> 티블을 만드는 또 다른 방법(적은 양의 데이터를 빠르게 읽기 쉬운형태로 만드는)<br>
열 헤더는 공식으로 정의(~로 시작), 입력은 쉼표로 구분)

In [45]:
tribble(
    ~x, ~y, ~z,
    "c" ,  3, 4.0,
    "a", 2, 3.6,
    "b", 1, 8.5
    )

  x y z
1 c 3 4.0
2 a 2 3.6
3 b 1 8.5