# Data handling in R

> tag : R for data science

In [10]:
library('tidyverse')
library('nycflights13') #2013년 뉴욕시 출발 항공편 정보 패키지

In [9]:
flights %>% head

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

`dttm`는 데이트-타임형(날짜 + 시간) 의미

In [12]:
filter(flights, month == 1, day == 1) %>% head

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [23]:
near(sqrt(2) ^2, 2)

[1] TRUE

In [28]:
filter( flights, month == 11 | month == 12) %>% head

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    1     5      2359             6       352       345
2 2013 11    1    35      2250           105       123      2356
3 2013 11    1   455       500            -5       641       651
4 2013 11    1   539       545            -6       856       827
5 2013 11    1   542       545            -3       831       855
6 2013 11    1   549       600           -11       912       923
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   7       B6       745   N568JB  JFK    PSE  205      1617     23   59
2  87       B6      1816   N353JB  JFK    SYR   36       209     22   50
3 -10       US      1895   N192UW  EWR    CLT   88       529      5    0
4  29       UA      1714   N38727  LGA    IAH  229      1416      5   45
5 -24       AA      2243   N5CLAA  JFK    MIA  147      1089      5   45
6 -11       UA       303   N595UA  JFK    SFO  359      2586      6    0
  time_hour
1 2013-11-01 23:00:00
2 2013-11-01 22:00:00
3 2013-11-01 05:00:00
4 2013-11-01 05:00:00
5 2013-11-01 05:00:00
6 2013-11-01 06:00:00

`%in%` : 이 안에 있는 모든 것 꺼냄

In [32]:
nov_dec <- filter(flights, month %in% c(11,12))
nov_dec %>% tail

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 12    31  NA        855           NA        NA       1142
2 2013 12    31  NA        705           NA        NA        931
3 2013 12    31  NA        825           NA        NA       1029
4 2013 12    31  NA       1615           NA        NA       1800
5 2013 12    31  NA        600           NA        NA        735
6 2013 12    31  NA        830           NA        NA       1154
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        UA      1506   NA      EWR    JAC  NA       1874      8   55
2 NA        UA      1729   NA      EWR    DEN  NA       1605      7    5
3 NA        US      1831   NA      JFK    CLT  NA        541      8   25
4 NA        MQ      3301   N844MQ  LGA    RDU  NA        431     16   15
5 NA        UA       219   NA      EWR    ORD  NA        719      6    0
6 NA        UA       443   NA      JFK    LAX  NA       2475      8   30
  time_hour
1 2013-12-31 08:00:00
2 2013-12-31 07:00:00
3 2013-12-31 08:00:00
4 2013-12-31 16:00:00
5 2013-12-31 06:00:00
6 2013-12-31 08:00:00

In [34]:
filter(flights, !(arr_delay > 120 | dep_delay > 120)) %>% head

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [35]:
df <- tibble(x = c(1, NA, 3))

In [36]:
df

  x
1  1
2 NA
3  3

In [37]:
filter(df, x >1)

  x
1 3

`arrange` : `desc`와 같이 정렬할 때 사용하는 `filter`

In [68]:
arrange(flights, desc(arr_delay)) %>% head

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1      9   641      900           1301      1242     1530
2 2013 6     15  1432     1935           1137      1607     2120
3 2013 1     10  1121     1635           1126      1239     1810
4 2013 9     20  1139     1845           1014      1457     2210
5 2013 7     22   845     1600           1005      1044     1815
6 2013 4     10  1100     1900            960      1342     2211
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2 1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
3 1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
4 1007      AA       177   N338AA  JFK    SFO  354      2586     18   45
5  989      MQ      3075   N665MQ  JFK    CVG   96       589     16    0
6  931      DL      2391   N959DL  JFK    TPA  139      1005     19    0
  time_hour
1 2013-01-09 09:00:00
2 2013-06-15 19:00:00
3 2013-01-10 16:00:00
4 2013-09-20 18:00:00
5 2013-07-22 16:00:00
6 2013-04-10 19:00:00

In [69]:
df <- tibble(x = c(5,2, NA))
arrange(df, x)

  x
1  2
2  5
3 NA

`select` : 관심 있는 열만 보기

In [71]:
select(flights, year, month, day) %>% head

  year month day
1 2013 1     1
2 2013 1     1
3 2013 1     1
4 2013 1     1
5 2013 1     1
6 2013 1     1

`:`  a ~ b까지

In [74]:
select(flights, year:arr_delay) %>% head

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay
1  11
2  20
3  33
4 -18
5 -25
6  12

In [78]:
select(flights, -(year:air_time)) %>% head

  distance hour minute time_hour
1 1400     5    15     2013-01-01 05:00:00
2 1416     5    29     2013-01-01 05:00:00
3 1089     5    40     2013-01-01 05:00:00
4 1576     5    45     2013-01-01 05:00:00
5  762     6     0     2013-01-01 06:00:00
6  719     5    58     2013-01-01 05:00:00

`-` 추가

>  `select()` 안에서 사용할 수 있는 함수들  
> - `starts_with('abc')` : 'abc'로 시작하는 이름에 매칭  
> - `ends_with("xyz")` : 'xyz'로 끝나는 이름에 매칭  
> - `contains('abc')` : 'abc'를 포함한 이름에 매칭  
> - `num_range('x', 1:3)` : x1,x2,x3에 매칭

`rename` : 변수명 변경

In [81]:
rename(flights, tail_num = tailnum) %>% head

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tail_num origin dest air_time distance hour minute
1  11       UA      1545   N14228   EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211   LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA   JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB   JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN   LGA    ATL  116       762     6     0
6  12       UA      1696   N39463   EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

`everything`: 몇 개의 변수를 데이터프레임 시작 부분으로 옮기고 싶을 때 사용

In [83]:
select(flights, time_hour, air_time, everything()) %>% head

  time_hour           air_time year month day dep_time sched_dep_time dep_delay
1 2013-01-01 05:00:00 227      2013 1     1   517      515             2
2 2013-01-01 05:00:00 227      2013 1     1   533      529             4
3 2013-01-01 05:00:00 160      2013 1     1   542      540             2
4 2013-01-01 05:00:00 183      2013 1     1   544      545            -1
5 2013-01-01 06:00:00 116      2013 1     1   554      600            -6
6 2013-01-01 05:00:00 150      2013 1     1   554      558            -4
  arr_time sched_arr_time arr_delay carrier flight tailnum origin dest distance
1  830      819            11       UA      1545   N14228  EWR    IAH  1400
2  850      830            20       UA      1714   N24211  LGA    IAH  1416
3  923      850            33       AA      1141   N619AA  JFK    MIA  1089
4 1004     1022           -18       B6       725   N804JB  JFK    BQN  1576
5  812      837           -25       DL       461   N668DN  LGA    ATL   762
6  740      728            12       UA      1696   N39463  EWR    ORD   719
  hour minute
1 5    15
2 5    29
3 5    40
4 5    45
5 6     0
6 5    58

In [87]:
flights_sml <- select(flights,
                      year:day,
                      ends_with('delay'),
                      distance,
                      air_time
                      )

`mutate` : 새로운 변수 데이터셋 마지막에 추가

In [90]:
mutate(flights_sml,
       gain = arr_delay - dep_delay,
       speed = distance / air_time * 60) %>% head

  year month day dep_delay arr_delay distance air_time gain speed
1 2013 1     1    2         11       1400     227        9  370.0441
2 2013 1     1    4         20       1416     227       16  374.2731
3 2013 1     1    2         33       1089     160       31  408.3750
4 2013 1     1   -1        -18       1576     183      -17  516.7213
5 2013 1     1   -6        -25        762     116      -19  394.1379
6 2013 1     1   -4         12        719     150       16  287.6000

`transmute` : mutate에서 새 변수만 남기기

In [92]:
transmute(flights,
          gain = arr_delay - dep_delay,
          hours = air_time / 60,
          gain_per_hour = gain / hour) %>% head

  gain hours    gain_per_hour
1   9  3.783333  1.800000
2  16  3.783333  3.200000
3  31  2.666667  6.200000
4 -17  3.050000 -3.400000
5 -19  1.933333 -3.166667
6  16  2.500000  3.200000

`%/%` : 나누고 정수만 표기  
`%%` : 나머지  
`lag` : 한 칸 밀기  
`lead` : 한 칸 당기기

In [112]:
x <- 1:10
lag(x)
lead(x)

 [1] NA  1  2  3  4  5  6  7  8  9

 [1]  2  3  4  5  6  7  8  9 10 NA

`cumsum` : 누적 합  
`cummean` : 누적 평균

In [113]:
cumsum(x)

 [1]  1  3  6 10 15 21 28 36 45 55

In [114]:
cummean(x)

 [1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0 5.5